* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #fff; }

h1, h2, h3, h4, h5 {
  font-weight: 300; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.container:after, .container:before {
  clear: both;
  display: table;
  content: ''; }

a {
  text-decoration: none;
  color: initial; }

.headerContainer {
  line-height: 44px;
  background: #FFFFFF; }

nav {
  float: left; }
  nav ul {
    margin: auto; }
  nav a {
    font-weight: bold;
    font-size: 14px; }
  nav li {
    display: none; }
    @media (min-width: 960px) {
      nav li {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        padding: 12px 12px 12px;
        border: 1px solid #FFFFFF;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.4s all; }
        nav li:hover {
          background: #86BC42;
          border: 1px solid #86BC42; }
          nav li:hover a {
            font-weight: bold;
            font-size: 14px;
            color: #FFFFFF;
            transition: 0.4s all; } }
    @media (min-width: 768px) {
      nav li {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        padding: 9px 9px 9px;
        border: 1px solid #FFFFFF;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.4s all; }
        nav li:hover {
          background: #86BC42;
          border: 1px solid #86BC42; }
          nav li:hover a {
            font-weight: bold;
            font-size: 14px;
            color: #FFFFFF;
            transition: 0.4s all; } }

h1 {
  float: left;
  margin: 0; }

.logo {
  display: none; }
  @media (min-width: 768px) {
    .logo {
      font-weight: bold;
      font-size: 26px;
      margin-top: 12px;
      display: inline-block; }
      .logo span {
        color: #86BC42; } }

.mobileLogo {
  float: left;
  margin-top: 7px; }
  @media (min-width: 1200px) {
    .mobileLogo {
      margin-top: 7px; } }

.searchContainer {
  display: none; }
  @media (min-width: 1200px) {
    .searchContainer {
      float: left;
      margin-left: 18px;
      margin-top: 12px;
      display: inline-block; } }
  .searchContainer span {
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    height: 2px;
    padding: 15px;
    margin: 0 1px 0;
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: #FFFFFF;
    background-color: #86BC42;
    transition: 0.4s all; }
    .searchContainer span:hover {
      background: #FFFFFF;
      color: #86BC42;
      border: 1px solid #86BC42; }
  .searchContainer input {
    padding: 12px;
    padding-left: 24px;
    height: 44px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    line-height: 1.5; }

.rightMenu {
  float: left;
  height: auto; }
  .rightMenu li {
    display: block;
    font-weight: bold;
    font-size: 14px;
    border: none; }
  .rightMenu span {
    font-size: 14px; }

.mobileMenu {
  float: right; }
  .mobileMenu .navBar {
    padding: 0;
    margin: 0;
    border-radius: 0; }
    @media (min-width: 768px) {
      .mobileMenu .navBar {
        display: none; } }
    .mobileMenu .navBar :before {
      content: " ";
      display: table; }
  .mobileMenu .mobileIcon {
    display: inline-block;
    color: #66b700;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
    border: 0;
    padding: 26px;
    transition: .5s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
    .mobileMenu .mobileIcon span {
      display: block;
      position: absolute;
      height: 4px;
      content: "";
      width: 100%;
      background: #19ff00;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: .25s ease-in-out; }
  .mobileMenu .mobileBtn {
    border: 1px solid #d0d0d0;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s all;
    background: #FFFFFF; }
    @media (min-width: 768px) {
      .mobileMenu .mobileBtn {
        display: none; } }
    .mobileMenu .mobileBtn:hover {
      background: #86BC42;
      color: #86BC42;
      border: 1px solid #86BC42; }
      .mobileMenu .mobileBtn:hover a {
        color: #fbefff; }

.glassBtn {
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  color: #FFFFFF;
  transition: 0.4s all;
  background: #FFFFFF; }
  @media (min-width: 1200px) {
    .glassBtn {
      display: none; } }
  @media (min-width: 768px) {
    .glassBtn {
      border: 1px solid #d0d0d0;
      padding: 6px;
      margin-left: 5px;
      margin-top: 6px;
      cursor: pointer;
      color: #FFFFFF;
      transition: 0.4s all;
      background: #FFFFFF; }
      .glassBtn:hover {
        background: #86BC42;
        color: #86BC42;
        border: 1px solid #86BC42; }
        .glassBtn:hover a {
          color: #fbefff; } }
  .glassBtn:hover {
    background: #86BC42;
    color: #86BC42;
    border: 1px solid #86BC42; }
    .glassBtn:hover a {
      color: #fbefff; }

.sliderContainer {
  position: relative;
  height: 315px;
  overflow: hidden; }
  @media (min-width: 960px) {
    .sliderContainer {
      width: 100%;
      height: 343px; } }
  @media (min-width: 1200px) {
    .sliderContainer {
      width: 100%;
      height: 500px; } }
  @media (min-width: 1600px) {
    .sliderContainer {
      width: 100%;
      height: 700px; } }
  .sliderContainer .slide {
    display: none; }
  .sliderContainer img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (min-width: 960px) {
      .sliderContainer img {
        width: 100%;
        height: auto; } }
  .sliderContainer .sliderText {
    position: absolute;
    z-index: 1;
    top: 36%;
    left: 38px;
    right: 38px; }
    .sliderContainer .sliderText p {
      font-size: 11px;
      color: #FFFFFF;
      text-shadow: 3px 1px 9px #000; }
    .sliderContainer .sliderText h2 {
      font-size: 24px;
      color: #FFFFFF;
      margin: 0; }
    @media (min-width: 460px) {
      .sliderContainer .sliderText {
        top: 30%; }
        .sliderContainer .sliderText p {
          font-size: 12px; }
        .sliderContainer .sliderText h2 {
          font-size: 42px; } }
    @media (min-width: 768px) {
      .sliderContainer .sliderText p {
        font-size: 15px; }
      .sliderContainer .sliderText h2 {
        font-size: 45px; } }
    @media (min-width: 960px) {
      .sliderContainer .sliderText {
        top: 38%; }
        .sliderContainer .sliderText p {
          font-size: 19px; }
        .sliderContainer .sliderText h2 {
          font-size: 54px; } }
  .sliderContainer .sliderBtn span {
    border: 1px solid #86BC42;
    border-radius: 5px;
    background-color: #86BC42;
    padding: 6px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.4s all; }
    @media (min-width: 960px) {
      .sliderContainer .sliderBtn span {
        padding: 11px; } }
    .sliderContainer .sliderBtn span a {
      color: #FFFFFF; }
    .sliderContainer .sliderBtn span:hover {
      background: #FFFFFF;
      border: 1px solid #FFFFFF;
      transition: 0.4s all; }
      .sliderContainer .sliderBtn span:hover a {
        font-weight: bold;
        font-size: 15px;
        color: #86BC42;
        transition: 0.4s all; }
  .sliderContainer .sliderArrows {
    position: absolute;
    top: 55%;
    width: 100%; }
    .sliderContainer .sliderArrows .arrows {
      width: 33px;
      height: 33px;
      position: absolute;
      margin-top: -31px;
      color: #86BC42;
      cursor: pointer; }
    .sliderContainer .sliderArrows .prevSlide {
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(45deg);
      left: 8px; }
    .sliderContainer .sliderArrows .nextSlide {
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(-135deg);
      right: 8px; }

.featureBoxes {
  display: none; }
  @media (min-width: 460px) {
    .featureBoxes {
      padding: 0;
      text-align: center;
      position: relative;
      display: inherit;
      margin: 0 auto; }
      .featureBoxes :hover img {
        transform: translate(28px, 0); } }
  .featureBoxes li {
    width: 100%;
    display: inline-block;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    background: #FFFFFF; }
    @media (min-width: 768px) {
      .featureBoxes li {
        width: calc(33% - 5px);
        margin-left: 5px; } }
    @media (min-width: 960px) {
      .featureBoxes li {
        background: #FFFFFF; } }
    @media (min-width: 1200px) {
      .featureBoxes li {
        background: #FFFFFF; } }
    .featureBoxes li h3 {
      font-weight: bold;
      font-size: 13px; }
    .featureBoxes li p {
      font-size: 13px;
      color: #777; }
    .featureBoxes li span {
      position: absolute;
      margin-right: 14px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      display: inline-block;
      background: #F9F9F9;
      text-align: center;
      line-height: 70px; }
      .featureBoxes li span img {
        vertical-align: middle;
        margin-left: -54px;
        transition: transform 0.5s ease-in-out; }

.boxText {
  display: inline-block;
  margin-left: 85px; }

.welcomeContainer {
  text-align: center;
  position: relative; }
  .welcomeContainer h4 {
    text-space: 3px;
    font-size: 21px; }
  .welcomeContainer img {
    margin-bottom: 18px; }
  .welcomeContainer p {
    font-size: 14px;
    color: grey;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto; }
  .welcomeContainer .signatureContainer {
    text-align: right;
    max-width: 600px;
    margin: 0 auto; }
    .welcomeContainer .signatureContainer span:first-child {
      font-weight: bold;
      font-size: 14px; }
    .welcomeContainer .signatureContainer span:nth-child(2) {
      color: #bbb;
      font-size: 13px;
      display: block;
      font-weight: bolder; }
  .welcomeContainer .underDescription {
    display: none; }
    @media (min-width: 768px) {
      .welcomeContainer .underDescription {
        display: inline-block; } }

.productsContainer {
  background: #fff; }
  .productsContainer .tabList {
    text-align: center;
    padding: 0; }
    .productsContainer .tabList li {
      display: inline-block;
      cursor: pointer;
      padding: 9px 9px 9px;
      border-radius: 50%;
      height: 118px;
      width: 118px;
      background: #F9F9F9;
      transition: 0.3s all;
      margin-right: 10px; }
      .productsContainer .tabList li:hover {
        background: #86BC42; }
        .productsContainer .tabList li:hover a {
          color: #fff; }
        .productsContainer .tabList li:hover img {
          transform: translate(0, -17px); }
    .productsContainer .tabList a {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      color: black; }
    .productsContainer .tabList img {
      display: block;
      margin: 0 auto;
      vertical-align: middle;
      transition: transform 0.5s ease-in-out; }
  .productsContainer h2 {
    font-weight: bold;
    letter-spacing: 1px; }

.productsList {
  padding: 0; }
  .productsList .singleProduct {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid lightgrey;
    margin: 5px 0 0 5px;
    width: calc(48% + 4px); }
    .productsList .singleProduct:hover {
      border: 2px solid #86BC42;
      margin: 4px 0 0 4px; }
    .productsList .singleProduct h3 {
      font-weight: bold; }
      .productsList .singleProduct h3:hover {
        color: #86BC42; }
    @media (min-width: 768px) {
      .productsList .singleProduct {
        width: calc(25% - 5px); } }
    .productsList .singleProduct img {
      width: 100%;
      height: 100%;
      padding: 1px; }
  .productsList .productPrice {
    border: 1px solid #86BC42;
    border-radius: 20%;
    padding: 8px;
    top: 2%;
    right: 8px;
    position: absolute;
    font-weight: bold;
    color: #86BC42; }
  .productsList .optionsBtn {
    margin-bottom: 11px;
    display: flex;
    justify-content: center; }
    .productsList .optionsBtn a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid lightgrey;
      padding: 9px;
      font-size: 14px;
      transition: 0.4s all;
      text-transform: uppercase; }
      .productsList .optionsBtn a:hover {
        background: #86BC42;
        color: #FFFFFF; }
    .productsList .optionsBtn img {
      width: auto;
      margin-left: 10px; }

.navigateBtn {
  text-align: center;
  margin-top: 57px; }
  .navigateBtn a {
    color: #FFFFFF;
    font-weight: bold; }
    .navigateBtn a span {
      border: 1px solid #86BC42;
      background-color: #86BC42;
      padding: 10px 30px;
      transition: 0.4s all; }
      .navigateBtn a span:hover {
        background: white;
        color: #86BC42; }

.adBanner {
  text-align: center;
  margin-top: 89px; }
  .adBanner img {
    padding: 18px;
    max-width: 100%; }

.brandSlider {
  display: flex;
  justify-content: space-between;
  background-color: #FCFCFC; }
  .brandSlider img {
    opacity: 0.5; }
    .brandSlider img:hover {
      opacity: 1; }
    @media (min-width: 768px) {
      .brandSlider img {
        display: flex;
        justify-content: center; } }

.dealsList {
  padding: 0; }
  .dealsList .singleProduct {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid lightgrey;
    margin: 5px 0 0 5px; }
    .dealsList .singleProduct:hover {
      border: 2px solid #86BC42;
      margin: 4px 0 0 4px; }
    .dealsList .singleProduct h3 {
      font-weight: bold; }
      .dealsList .singleProduct h3:hover {
        color: #86BC42; }
    @media (min-width: 768px) {
      .dealsList .singleProduct {
        width: calc(33% - 5px); } }
    .dealsList .singleProduct img {
      width: 100%;
      height: 100%;
      padding: 1px; }
  .dealsList span:nth-child(2) {
    border: 1px solid #86BC42;
    border-radius: 20%;
    padding: 8px;
    top: 2%;
    right: 8px;
    position: absolute;
    font-weight: bold;
    color: #86BC42; }
  .dealsList span:nth-child(3) {
    border: 1px solid lightgrey;
    border-radius: 20%;
    padding: 8px;
    top: 2%;
    right: 79px;
    position: absolute;
    color: #3b3a3a;
    text-decoration: line-through; }
  .dealsList .optionsBtn {
    display: flex;
    margin-bottom: 12px;
    justify-content: center; }
    .dealsList .optionsBtn a {
      border: 1px solid lightgrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 9px;
      font-size: 14px;
      transition: 0.4s all;
      text-transform: uppercase; }
      .dealsList .optionsBtn a:hover {
        background: #86BC42;
        color: #FFFFFF; }
    .dealsList .optionsBtn img {
      width: auto;
      margin-left: 10px; }

.feedbackContainer {
  text-align: center;
  margin-top: 54px; }
  .feedbackContainer p {
    font-size: 14px;
    color: grey;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto; }

.footerContainer {
  background-color: lightgrey;
  margin-top: -16px; }
  .footerContainer h6 {
    font-size: 33px; }

/*# sourceMappingURL=styles.css.map */
