//Mixins
@mixin small {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin big {
  @media (max-width: 768px) {
    @content;
  }
}



//Styles
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #FFFFFF;

}
h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @extend %clearfix
}

%clearfix {
  &:after, &:before {
    clear: both;
    display: table;
    content: '';
  }
}


a {
  text-decoration: none;
  color: initial;
}

//Header
.headerContainer {
  line-height: 44px;
  background: #FFFFFF;
  height: 70px;
}

nav {
  float: left;
  ul {
    margin: auto;
  }
  a {
    font-weight: bold;
    font-size: 14px;
  }
  li {
    display: inline;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 12px 12px;
    border: 1px solid #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.4s all;
    &:hover {
      background: #86BC42;
      border: 1px solid #86BC42;
      a {
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        transition: 0.4s all;
      }
    }
  }
  @include big {
    display: none;
  }
}


.logo {
  float: left;
  font-weight: bold;
  font-size: 26px;
  span {
    color: #86BC42;
  }
  @include big {
    font-size: 21px;
  }
}

.searchContainer {
  float: left;
  margin-left: 18px;
  span {
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    height: 2px;
    padding: 15px;
    margin: 0 1px 0;
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: #FFFFFF;
    background-color: #86BC42;
    transition: 0.4s all;
    &:hover {
      background: #FFFFFF;
      color: #86BC42;
      border: 1px solid #86BC42;

    }
  }
  input {
    padding: 12px;
    padding-left: 24px;
    height: 44px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    line-height: 1.5;
  }
  @include big {
    display: none;
  }
}

.rightMenu {
  float: left;
  height: auto;
  li {
    display: block;
    font-weight: bold;
    font-size: 14px;
    border: none;
  }
  span {
    font-size: 14px;
  }
}

//Header mobile

.mobileMenu {
  float: right;
  .hamburger {
    width: 22px;
    height: 22px;
    border: 0;
    border-top: 2px solid #fbefff;
    background: transparent;
    position: relative;
    transform: translateY(5px);
  }

  .hamburger::before, .hamburger::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    border-top: 2px solid #fbefff;
    transform: translateY(10px);
  }

  .hamburger::after {
    transform: translateY(18px);

  }

  span {
    border: 1px solid #d0d0d0;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s all;
    background: #FFFFFF;
    &:hover {
      background: #86BC42;
      color: #86BC42;
      border: 1px solid #86BC42;
      a {
        color: #fbefff;
      }
    }
  }
  span:first-child {
    background-color: #86BC42;
  }
  @include small {
    display: none;
  }
}


//Slider

.sliderContainer {
  @include big {
    display: none;
  }
  img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;

  }
  .sliderText {
    position: absolute;
    z-index: 1;
    top: 37%;
    left: 4%;
    p {
      font-size: 14px;
      color: #FFFFFF;
      text-shadow: 3px 1px 9px #000;
    }
    h2 {
      font-size: 44px;
      color: #FFFFFF;
      margin: 0;
    }
  }
  .sliderBtn {
    position: absolute;
    bottom: 42%;
    left: 4%;
    span {
      border: 1px solid #86BC42;
      border-radius: 5px;
      background-color: #86BC42;
      padding: 11px;
      font-weight: bold;
      font-size: 15px;
      margin-left: 5px;
      cursor: pointer;
      transition: 0.4s all;
      a {
        color: #FFFFFF;
      }
      &:hover {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        transition: 0.4s all;
        a {
          font-weight: bold;
          font-size: 15px;
          color: #86BC42;
          transition: 0.4s all;
        }
      }
    }
  }
}



//Products

.productsContainer {
  background:red;
}
