//Mixins
@mixin small {
  @media (min-width: 768px) {
    @content;
  }
}


//Styles
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #FFFFFF;

}
h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @extend %clearfix
}

%clearfix {
  &:after, &:before {
    clear: both;
    display: table;
    content: '';
  }
}


a {
  text-decoration: none;
  color: initial;
}

//Header
.headerContainer {
  line-height: 44px;
  background: #FFFFFF;
  height: 70px;
}

nav {
  float: left;
  a {
    font-weight: bold;
    font-size: 14px;
  }
  li {
    display: inline;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 12px 12px;
    border: 1px solid #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: 0.4s all;
    &:hover {
      background: #86BC42;
      border: 1px solid #86BC42;
      a {
        font-weight: bold;
        font-size: 14px;
        color: #FFFFFF;
        transition: 0.4s all;
      }
    }
  }
}


.logo {
  float: left;
  font-weight: bold;
  font-size: 26px;
  span {
    color: #86BC42;
  }
}

.searchContainer {
  float: left;
  margin-left: 18px;
  span {
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    height: 2px;
    padding: 15px;
    margin: 0 1px 0;
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: #FFFFFF;
    background-color: #86BC42;
    transition: 0.4s all;
    &:hover {
      background: #FFFFFF;
      color: #86BC42;
      border: 1px solid #86BC42;

    }


  }
  input {
    padding: 12px;
    padding-left: 24px;
    height: 44px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    line-height: 1.5;
  }

}

.rightMenu {
  float: left;
  height: auto;
  li {
    display: block;
    font-weight: bold;
    font-size: 14px;
    border: none;
  }
  span {
    font-size: 14px;
  }
}




//Products

.productsContainer {
  background:red;
}


//Slider
.sliderContainer {
  background: #c6fff6;
  height: 700px;
  background-size: cover;
}