//Mixins
//RWD:  Minimum widths to apply styles (mobile first)
@mixin xsmall {
  @media (min-width: 460px) {
    @content;
  }
}

@mixin small {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 960px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xLarge {
  @media (min-width: 1600px) {
    @content;
  }
}



//Styles
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: #fff;

}
h1, h2, h3, h4, h5 {
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  @extend %clearfix
}

%clearfix {
  &:after, &:before {
    clear: both;
    display: table;
    content: '';
  }
}


a {
  text-decoration: none;
  color: initial;
}

//Header
.headerContainer {
  line-height: 44px;
  background: #FFFFFF;

}

nav {
    float: left;
    ul {
      margin: auto;
    }
    a {
      font-weight: bold;
      font-size: 14px;
    }
    li {
      display: none;
      @include medium {
      display: inline-block;
      text-decoration: none;
      cursor: pointer;
      padding: 12px 12px 12px;
      border: 1px solid #FFFFFF;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      transition: 0.4s all;
      &:hover {
        background: #86BC42;
        border: 1px solid #86BC42;
        a {
          font-weight: bold;
          font-size: 14px;
          color: #FFFFFF;
          transition: 0.4s all;
        }
      }
    }
      @include small {
        display: inline-block;
        text-decoration: none;
        cursor: pointer;
        padding: 9px 9px 9px;
        border: 1px solid #FFFFFF;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        transition: 0.4s all;
        &:hover {
          background: #86BC42;
          border: 1px solid #86BC42;
          a {
            font-weight: bold;
            font-size: 14px;
            color: #FFFFFF;
            transition: 0.4s all;
          }
        }
      }

  }
}

h1 {
  float:left;
  margin: 0;
}
.logo {
  display: none;
  @include small {
    font-weight: bold;
    font-size: 26px;
    margin-top: 12px;
    display: inline-block;
    span {
      color: #86BC42;
    }
  }
}

.mobileLogo {
  float: left;
  margin-top: 7px;
  @include large {
    margin-top: 7px;
  }
}

.searchContainer {
  display: none;
  @include large {
    float: left;
    margin-left: 18px;
    margin-top: 12px;
    display: inline-block;
  }

  span {
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    height: 2px;
    padding: 15px;
    margin: 0 1px 0;
    font-weight: bold;
    letter-spacing: 0;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    color: #FFFFFF;
    background-color: #86BC42;
    transition: 0.4s all;
    &:hover {
      background: #FFFFFF;
      color: #86BC42;
      border: 1px solid #86BC42;
    }
  }
  input {
    padding: 12px;
    padding-left: 24px;
    height: 44px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    line-height: 1.5;
  }
}

.rightMenu {
  float: left;
  height: auto;
  li {
    display: block;
    font-weight: bold;
    font-size: 14px;
    border: none;
  }
  span {
    font-size: 14px;
  }
}

//Header mobile

.mobileMenu {
  float: right;

  .navBar {
    @include small {
      display: none;
    }
    :before {
      content: " ";
      display: table;
    }
    padding: 0;
    margin: 0;
    border-radius: 0;
  }


  .mobileIcon {
    display: inline-block;
    color: #66b700;
    background: none;
    cursor: pointer;
    position: relative;
    z-index: 100;
    border: 0;
    padding: 26px;
    transition: .5s ease-in-out;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    span {
      display: block;
      position: absolute;
      height: 4px;
      content: "";
      width: 100%;
      background: #19ff00;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transition: .25s ease-in-out;
    }
  }


  //.hamburger {
  //  @include small {
  //    display: none;
  //  }
  //  width: 22px;
  //  height: 22px;
  //  border: 0;
  //  border-top: 2px solid #fbefff;
  //  background: transparent;
  //  position: relative;
  //  transform: translateY(5px);
  //}
  //
  //.hamburger::before, .hamburger::after {
  //  content: '';
  //  position: absolute;
  //  top: -3px;
  //  left: 0;
  //  width: 100%;
  //  border-top: 2px solid #fbefff;
  //  transform: translateY(10px);
  //}
  //
  //.hamburger::after {
  //  transform: translateY(18px);
  //
  //}

  .mobileBtn {
    @include small {
      display: none;
    }
    border: 1px solid #d0d0d0;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s all;
    background: #FFFFFF;
    &:hover {
      background: #86BC42;
      color: #86BC42;
      border: 1px solid #86BC42;
      a {
        color: #fbefff;
      }
    }
  }
}

.glassBtn {
  @include large {
    display: none;
  }
  @include small {
    border: 1px solid #d0d0d0;
    padding: 6px;
    margin-left: 5px;
    margin-top: 6px;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s all;
    background: #FFFFFF;
    &:hover {
      background: #86BC42;
      color: #86BC42;
      border: 1px solid #86BC42;
      a {
        color: #fbefff;
      }
    }
  }
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
  color: #FFFFFF;
  transition: 0.4s all;
  background: #FFFFFF;
  &:hover {
    background: #86BC42;
    color: #86BC42;
    border: 1px solid #86BC42;
    a {
      color: #fbefff;
    }
  }
}



//Slider

.sliderContainer {
  position: relative;
  height: 315px;
  overflow: hidden;
  @include medium {
    width: 100%;
    height: 343px;
  }
  @include large {
    width: 100%;
    height: 500px;
  }
  @include xLarge {
    width: 100%;
    height: 700px;
  }
  .slide {
    display: none;
  }

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    @include medium {
      width: 100%;
      height: auto;
    }
  }
  .sliderText {
    position: absolute;
    z-index: 1;
    top: 36%;
    left: 38px;
    right: 38px;
    p {
      font-size: 11px;
      color: #FFFFFF;
      text-shadow: 3px 1px 9px #000;
    }
    h2 {
      font-size: 24px;
      color: #FFFFFF;
      margin: 0;
    }
    @include xsmall {
      p {
        font-size: 12px;
      }
      h2 {
        font-size: 42px;
      }
      top: 30%;
    }
    @include small {
      p {
        font-size: 15px;
      }
      h2 {
        font-size: 45px;
      }
    }
    @include medium {
      p {
        font-size: 19px;
      }
      h2 {
        font-size: 54px;
      }
      top: 38%;
    }

  }

  .sliderBtn {

    span {
      @include medium {
        padding: 11px;
      }
      border: 1px solid #86BC42;
      border-radius: 5px;
      background-color: #86BC42;
      padding: 6px;
      font-weight: bold;
      font-size: 15px;
      margin-left: 5px;
      cursor: pointer;
      transition: 0.4s all;

      a {
        color: #FFFFFF;
      }
      &:hover {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        transition: 0.4s all;
        a {
          font-weight: bold;
          font-size: 15px;
          color: #86BC42;
          transition: 0.4s all;
        }
      }

    }


  }


  .sliderArrows {
    position: absolute;
    top: 55%;
    width: 100%;
    .arrows {
      width: 33px;
      height: 33px;
      position: absolute;
      margin-top: -31px;
      color: #86BC42;
      cursor: pointer;
    }
    .prevSlide {
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(45deg);
      left: 8px;
    }

    .nextSlide {
      border-bottom: 6px solid;
      border-left: 6px solid;
      transform: rotate(-135deg);
      right: 8px;

    }
  }
}

//Boxes features under slider

.featureBoxes {
  display: none;
  @include xsmall {
    padding: 0;
    text-align: center;
    position: relative;
    display: inherit;
    margin: 0 auto;
    :hover img {
      transform: translate(28px,0);
    }
  }
  li {
    width: 100%;
    display: inline-block;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    vertical-align: top;
    background: #FFFFFF;
    @include small {
      width: calc(33% - 5px);
      margin-left: 5px;
    }
    @include medium {
      background: #FFFFFF;
    }
    @include large {
     background: #FFFFFF;
    }
    h3 {
      font-weight: bold;
      font-size: 13px;
    }
    p {
      font-size: 13px;
      color: #777;
    }
    span {
      position: absolute;
      margin-right: 14px;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      display: inline-block;
      background: #F9F9F9;
      text-align: center;
      line-height: 70px;
      img {
        vertical-align: middle;
        margin-left: -54px;
        transition: transform 0.5s ease-in-out;
      }
    }

  }
}

.boxText {
  display: inline-block;
  margin-left: 85px;
}

// Description and signature section

.welcomeContainer {
  text-align: center;
  position: relative;
  h4 {
    text-space: 3px;
    font-size: 21px;
  }
  img {
    margin-bottom: 18px;
  }
  p {
    font-size: 14px;
    color: grey;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
  }
  .signatureContainer {
    text-align: right;
    max-width: 600px;
    margin: 0 auto;
    span {
      &:first-child {
        font-weight: bold;
        font-size: 14px;
      }
      &:nth-child(2) {
        color: #bbb;
        font-size: 13px;
        display: block;
        font-weight: bolder;
      }
    }
  }
  .underDescription {
    display: none;
    @include small {
      display: inline-block;
    }
  }
}


//Products

.productsContainer {
  background: #fff;
  .tabList {
    text-align: center;
    padding: 0;
    li {
      display: inline-block;
      cursor: pointer;
      padding: 9px 9px 9px;
      border-radius: 50%;
      height: 118px;
      width: 118px;
      background: #F9F9F9;
      transition: 0.3s all;
      margin-right: 10px;
      &:hover {
        background: #86BC42;
        a {
            color: #fff;
        }
        img {
          transform: translate(0, -17px);
        }
      }
    }
    a {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      color: black;
    }
    img {
      display: block;
      margin: 0 auto;
      vertical-align: middle;
      transition: transform 0.5s ease-in-out;

    }
  }
  h2 {
    font-weight: bold;
    letter-spacing: 1px;
  }
}
.productsList {
  padding: 0;

  .singleProduct {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid lightgrey;
    margin: 5px 0 0 5px;
    width: calc(48% + 2px);
    &:hover {
      border: 1px solid #86BC42;
      margin: 4px 0 0 4px;
    }
    h3 {
      font-weight: bold;
      &:hover {
        color: #86BC42;
      }
    }
    @include small {
      width: calc(25% - 5px);
    }
    img {
      width: 100%;
      height: 100%;
      padding: 1px;
    }
  }
  .productPrice {
    border: 1px solid #86BC42;
    border-radius: 20%;
    padding: 8px;
    top: 2%;
    right: 8px;
    position: absolute;
    font-weight: bold;
    color: #86BC42;
  }
  .optionsBtn {
    margin-bottom: 11px;
    display: flex;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid lightgrey;
      padding: 9px;
      font-size: 14px;
      transition: 0.4s all;
      text-transform: uppercase;
      &:hover {
        background: #86BC42;
        color: #FFFFFF;
      }
    }
    img {
      width: auto;
      margin-left: 10px;

    }
  }
}

.navigateBtn {
  text-align: center;
  margin-top: 57px;
  a {
    color: #FFFFFF;
    font-weight: bold;
    span {
      border: 1px solid #86BC42;
      background-color: #86BC42;
      padding: 10px 30px;
      transition: 0.4s all;
      &:hover {
        background: white;
        color: #86BC42;
      }
    }
  }
}

.adBanner {
  text-align: center;
  margin-top: 89px;
  img {
    padding: 18px;
    max-width: 100%;
  }
}

.brandSlider {
  display: flex;
  justify-content: space-between;
  background-color: #FCFCFC;
  img {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  @include small {
    display: flex;
    justify-content: center;


    }
  }
}

.dealsList {
  padding: 0;
  .singleProduct {
    position: relative;
    display: inline-block;
    text-align: center;
    border: 1px solid lightgrey;
    margin: 5px 0 0 5px;
    &:hover {
      border: 1px solid #86BC42;
      margin: 4px 0 0 4px;
    }
    h3 {
      font-weight: bold;
      &:hover {
        color: #86BC42;
      }
    }
    @include small {
      width: calc(33% - 5px);
    }
    img {
      width: 100%;
      height: 100%;
      padding: 1px;
    }
  }
  span {
    &:nth-child(2) {
      border: 1px solid #86BC42;
      border-radius: 20%;
      padding: 8px;
      top: 2%;
      right: 8px;
      position: absolute;
      font-weight: bold;
      color: #86BC42;
    }
    &:nth-child(3) {
      border: 1px solid lightgrey;
      border-radius: 20%;
      padding: 8px;
      top: 2%;
      right: 79px;
      position: absolute;
      color: #3b3a3a;
      text-decoration: line-through;
    }
  }
  .optionsBtn {
    display: flex;
    margin-bottom: 12px;
    justify-content: center;
    a {
      border: 1px solid lightgrey;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 9px;
      font-size: 14px;
      transition: 0.4s all;
      text-transform: uppercase;
      &:hover {
        background: #86BC42;
        color: #FFFFFF;
      }
    }
    img {
      width: auto;
      margin-left: 10px;

    }
  }
}

.feedbackContainer {
  text-align: center;
  margin-top: 54px;
  p {
    font-size: 14px;
    color: grey;
    font-weight: 300;
    max-width: 600px;
    margin: 0 auto;
  }
}
//Footer section
.newsletterContainer {
  background-color: #86BC42;
  padding: 26px 0;
  margin-top: 62px;
  .newsletterBox {
    background-color: #FCFCFC;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14px;
    align-items: center;
    li {
      display: inline-block;
      padding: 20px 10px;
    }
    h6 {
      font-size: 22px;
      margin: 0;
    }
    input {
      padding: 7px;
    }
    span {
      border: 1px solid #86BC42;
      background-color: #86BC42;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 13px;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: block;
      @include large {
        display: inline;
      }
      @include small {
        border: 1px solid #86BC42;
        background-color: #86BC42;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 13px;
        padding: 8px 15px;
        border-radius: 5px;
        transition: 0.4s all;
        cursor: pointer;
        &:hover {
          background-color: #FFFFFF;
          color: #86BC42;
        }
      }
    }
  }
}

.footer {
  background-color: #FAFAFA;
}
.footerInfo {
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 0;
  margin: 0 auto;
  max-width: 1200px;
  a {
    display: block;
    font-size: 12px;
    color: #868686
  }
  p {
    font-size: 12px;
    color: #868686
  }
  .contactMail {
    color: #86BC42;
  }
  .contactNumber {
    font-size: 14px;
    font-weight: bold;
    color: black;
  }
  img {
    margin-right: 4px;
    display: block;
  }
  @include small {
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin: 0 auto;
    max-width: 1200px;
    a {
      display: block;
      margin: 10px 0;
      font-size: 14px;
      color: #868686
    }
    p {
      font-size: 14px;
      color: #868686
    }
    .contactMail {
      color: #86BC42;
    }
    .contactNumber {
      font-size: 17px;
      font-weight: bold;
      color: black;
    }
    img {
      margin-right: 4px;
      display: block;
    }
  }
}

h7 {
  font-weight: bold;
  font-size: 13px;
  @include small {
    font-size: 16px;
  }
}
li {
  display: inline-block;
  min-width: 90px;
  @include small {
    min-width: 116px;
  }
}

.downloadApps {
  img {
    max-width: 140px;
  }
  a {
    display: inline-block;
  }
}